<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?include Variables.wxi ?>

  <Bundle Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Copyright="$(var.Copyright)" AboutUrl="$(var.HomePageUrl)" UpdateUrl="$(var.UpdateInformation)" HelpUrl="$(var.HelpLink)">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.BeautifulFractalsSetup.ProjectDir)\Resources\License.rtf"
        LogoFile="Resources/logo.bmp"
        SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

		<Chain>
      <PackageGroupRef Id="NetFx45Web" />
			<MsiPackage DisplayInternalUI="yes" Compressed="yes" ForcePerMachine="yes" SourceFile="$(var.BeautifulFractalsSetup.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>