<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="TAlex.Common" version="1.4.4957.26315" targetFramework="net45" />
  <package id="TAlex.MathCore" version="1.0.4871.34044" targetFramework="net45" />
  <package id="TAlex.WPF.Controls" version="1.7.4984.15813" targetFramework="net45" />
  <package id="TAlex.WPF.Mvvm" version="1.0.4937.37054" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.0.8.0" targetFramework="net45" />
</packages>