<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="TAlex.Common" version="1.4.4895.39370" targetFramework="net45" />
  <package id="TAlex.MathCore" version="1.0.4838.28811" targetFramework="net45" />
  <package id="TAlex.WPF.Controls" version="1.4.1.0" targetFramework="net35" />
  <package id="TAlex.WPF.Mvvm" version="1.0.4893.35434" targetFramework="net45" />
</packages>