<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>
  
  <Product Id="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)">
		<Package  InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Detecting installed version of .NET Framework -->
    <PropertyRef Id="$(var.FrameworkVersion)"/>
    <Condition Message="This application requires .NET Framework $(var.FrameworkVersionText). Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR $(var.FrameworkVersion)]]>
    </Condition>

    <!-- Upgrading -->   
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    
    <!-- Properties for UI -->
    <Property Id="DEFAULT_SCREENSAVER">1</Property>
    <Property Id="SHORTCUT_PROGRAMMENU">1</Property>
    <Property Id="SHORTCUT_DESKTOP">1</Property>

    <!--Directory structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)"></Directory>
        </Directory>
      </Directory>

      <Directory Id="LocalAppDataFolder">
        <Directory Id="AppDataManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="AppDataProductFolder" Name="$(var.ProductName)"></Directory>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </Directory>

      <Directory Id="DesktopFolder" />
    </Directory>

    <FeatureRef Id="Complete"/>

    <!-- Icons -->
    <Icon Id="ProductIcon.exe" SourceFile="$(var.BeautifulFractals.TargetPath)" />

    <Property Id="ARPPRODUCTICON" Value="ProductIcon.exe" />
    <Property Id="ARPHELPLINK" Value="$(var.HelpLink)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.SupportLink)" />
    <Property Id="ARPURLUPDATEINFO" Value="$(var.UpdateInformation)" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"></Property>

    <WixVariable Id="WixUIBannerBmp" Overridable="yes" Value="Resources/Images/Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Overridable="yes" Value="Resources/Images/Dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="Resources/License.rtf" />
    
    <UIRef Id="WixUI_InstallDirEx" />
	</Product>
</Wix>
